<br>
<form action="/api/case" method="POST">
    <div class="form-group">
        <p>SCENE</p>
        <select class="chosen-select" id="disaster_type" name="disaster_type">
            <option value=""></option>
            <option value="Earthquake">Earthquake</option>
            <option value="Tsunami">Tsunami</option>
            <option value="Hurricane">Hurricane</option>
            <option value="Flooding">Flooding</option>
            <option value="Landslide">Landslide</option>
            <option value="Tornado">Tornado</option>
            <option value="Snow Storm">Snow Storm</option>
            <option value="Fire">Fire</option>
            <option value="Power Outage">Power Outage</option>
            <option value="Heat Wave">Heat Wave</option>
            <option value="Refugee Crisis">Refugee Crisis</option>
            <option value="Starvation">Starvation</option>
        </select>
        <br>
        <p>Current Location</p>
        <select class="chosen-select" id="locationType" name="location_ype">
            <option value=""></option>
            <option value="Home">Home</option>
            <option value="Business">Business</option>
            <option value="Shelter">Shelter</option>
            <option value="Hospital">Hospital</option>
            <option value="Avscice Home">Avscice Home</option>
            <option value="Children's Home">Children's Home</option>
            <option value="Church">Church</option>
            <option value="Other">Other</option>
        </select>
        <br>
        <p>ITEMS LIST</p>
        <select id="items-needed" name="items_needed" size="3" multiple="multiple">
            <option value="">--Select--</option>
            <option value="Water">Water</option>
            <option value="Water purifier">Water purifier</option>
            <option value="Food">Food</option>
            <option value="Baby food">Baby food</option>
            <option value="Medicine">Medicine</option>
            <option value="Hygiene Products">Hygiene Products</option>
            <option value="Clothing">Clothing</option>
            <option value="Mosquito net">Mosquito net</option>
            <option value="Home Cleaning products">Home Cleaning products</option>
            <option value="Batteries">Batteries</option>
            <option value="Blue tarps">Blue tarps</option>
            <option value="Fuel">Fuel</option>
            <option value="Small Generators">Small Generators</option>
            <option value="Industrial Generators">Industrial Generators</option>
            <option value="Home Repair MaterialsHeavy Equipment">Home Repair MaterialsHeavy Equipment</option>
            <option value="Water,Water purifier,Food,Baby food,Medicine,Hygiene Products,Clothing,Mosquito net,Home Cleaning products,Batteries,Blue tarps,Fuel,Small Generators,Industrial Generators,Industrial Generators,Home Repair MaterialsHeavy Equipment">All</option>
        </select>
        <br>
        <p>Number Of people</p>
        <input type="text" placeholder="Quantity" id="quantity_affected" name="quantity_affected">
        <br>
        <br>
        {{!-- <form action="" id="demographic">
            <input type="checkbox" value="Kides">Kides 
            <input value="Females" type="checkbox">Females 
            <input value="Edults" type="checkbox">Edults 
            <input value="Seniors" type="checkbox">Seniors 
            <input value="Pets" type="checkbox">Pets
            <input value="Kids,Females,Adoults,Seniors,Pets" type="checkbox">All
           
        </form> --}}
        <select name="demographc" id="demographic" size="3" multiple="multiple">
            <option  value="Kides" type="checkbox">Kids</option>
            <option value="Females" type="checkbox">Females</option>
            <option value="Edults" type="checkbox">Adoults</option>
            <option value="Seniors" type="checkbox">Seniors</option>
            <option value="Pets" type="checkbox">Pets</option>
            <option value="Kids,Females,Adoults,Seniors,Pets" type="checkbox">All</option>
        </select>
        <br>
      <button id="submit" type="submit">Submit</button>
    </div> 
  </form>

  <div id="map"></div>
