<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a id="logo" class="navbar-item" href="/">
            E
            <span class="logoHighlight">SO</span>
            E<span class="logoHighlight">S</span>
            S
          </a>
      <span class="navbar-burger burger" data-target="navbarMenuHeroA">
      <span></span>
      <span></span>
      <span></span>
      </span>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu">
      <div class="navbar-end">
        <a href="/" class="navbar-item">HOME</a>
        <a href="/help" class="navbar-item">REQUEST HELP</a>
        <a href="http://localhost:8080/helpCenter" class="navbar-item">VIEW CASES</a>
        <a href="#" class="navbar-item">LANGUAGES</a>
      </div>
    </div>
  </div>
</nav>
<section id="warning">
  <div class="container">
    <div class="centerH">
      <p>***FOR <span class="logoHighlight">IMMEDIATE EMERGENCIES</span> PLEASE CONTACT YOUR LOCAL AUTHORITIES***</p>
    </div>
  </div>
</section>
<section id="formSection">
  <div class="container">
    <div class="formWrapper">
      <div id="myForm">
        <h1 class="title is-1">Request Help</h1>
        <h1 class="subtitle">Fill out the form below as accurately as possible</h1>
        <div class="field">
          <label class="label">Disaster Type</label>
          <div class="control">
            <div class="select">
              <select id="disasterType">
                <option value="Earthquake">Earthquake</option>
                <option value="Tsunami">Tsunami</option>
                <option value="Hurricane">Hurricane</option>
                <option value="Flooding">Flooding</option>
                <option value="Landslide">Landslide</option>
                <option value="Tornado">Tornado</option>
                <option value="Blizzard">Blizzard</option>
                <option value="Fire">Fire</option>
                <option value="Power Outage">Power Outage</option>
                <option value="Heat Wave">Heat Wave</option>
                <option value="Refugee Crisis">Refugee Crisis</option>
                <option value="Famine">Famine</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Location Type</label>
          <div class="control">
            <div class="select">
              <select id="locationType">
                <option value="Home">Home</option>
                <option value="Business">Business</option>
                <option value="Shelter">Shelter</option>
                <option value="Hospital">Hospital</option>
                <option value="Assisted Living">Assisted Living</option>
                <option value="Children's Home">Children's Home</option>
                <option value="Church/Worship Facility">Church/Worship Facility</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
        </div>
        <div id="demographicSection">
          <label class="label">Demographic</label>
          <div class="buttons" id="demoButtons">
          </div>
        </div>
        <div class="field">
          <label class="label">Estimated Number of People Affected</label>
          <div class="control">
            <div class="select">
              <select id="numberAffected">
                <option value="1 - 9">1 - 9</option>
                <option value="10 - 49">10 - 49</option>
                <option value="50 - 99">50 - 99</option>
                <option value="100+">100+</option>
              </select>
            </div>
          </div>
        </div>
        <div id="suppliesSection">
          <label class="label">Supplies Needed</label>
          <div class="buttons" id="supplyButtons">
          </div>
        </div>
        <div class="buttonWrapper">
          <button id="submitTwo" class="button is-medium formButton">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="myFooter">
  <div class="container">
    <div class="footerContent">
      <p>ESOESS was built by:</p>
      <a href="https://github.com/Moca2018" target="_blank">Nelson Quinones</a>
      <a href="https://github.com/TAYLOR-YAO" target="_blank">Taylor Yao</a>
      <a href="https://github.com/Aarick-F" target="_blank">Aarick Farist</a>
    </div>
  </div>
</footer>
<script type="text/javascript" src="./js/formScript.js"></script>