<section class="hero is-fullheight">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a id="logo" class="navbar-item" href="/">
            E
            <span class="logoHighlight">SO</span>
            E<span class="logoHighlight">S</span>
            S
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
          <span></span>
          <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item">HOME</a>
            <a href="#" class="navbar-item">REQUEST HELP</a>
            <a href="#" class="navbar-item">VIEW CASES</a>
            <a href="#" class="navbar-item">LANGUAGES</a>
          </div>
        </div>
      </div>
    </nav>
    <section id="warning">
      <div class="container">
        <div class="centerH">
          <p>***FOR IMMEDIATE EMERGENCIES PLEASE CONTACT YOUR LOCAL AUTHORITIES***</p>
        </div>
      </div>
    </section>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="mottoContainer">
        <h1 class="motto">In the wake of disaster</h1>
        <h1 class="motto">ESOESS is your voice</h1>
      </div>
      <div class="buttonHouse">
        <a class="button is-large myButton">REQUEST HELP</a>
        <a class="button is-large myButton">VIEW CASES</a>
      </div>
    </div>
  </div>
</section>
<section class="hero" id="about">
  <div class="hero-body">
    <div class="container">
      <h1 class="title whiteFont">About ESOESS:</h1>
      <h1 class="subtitle whiteFont">ESOESS is a privately-operated platform designed to give the victims of a disaster a voice in the chaos that often surrounds recovery procedures. More specifically, ESOESS allows users to put their location on a map with a list of the supplies they haven't yet received to help streamline recovery efforts.
    </div>
  </div>
</section>
<footer class="myFooter">
  <div class="container">
    <div class="footerContent">
      <p>ESOESS was built by:</p>
      <a href="https://github.com/Moca2018" target="_blank">Nelson Quinones</a>
      <a href="https://github.com/TAYLOR-YAO" target="_blank">Taylor Yao</a>
      <a href="https://github.com/Aarick-F" target="_blank">Aarick Farist</a>
    </div>
  </div>
</footer>