body {
  min-height: 100vh;
  background: #e2e2e2;
}

.navbar {
  background: #222;
}

.navbar-brand {
  align-items: center;
}

.navbar-end a {
  color: #e2e2e2;
}

.navbar-end a:hover {
  background: #d22;
  color: #e2e2e2;
}

#logo {
  font-size: 2em;
  font-weight: bold;
  color: #e2e2e2;
}

#logo:hover {
  color: #222;
  background: #222;
}

.logoHighlight {
  color: #d22;
}

.burger {
  color: #d22;
}

#warning {
  background: #111;
  color: #e2e2e2;
  font-weight: bold;
  font-size: 1em;
}

#warning #emergency {
  color: #d22;
}

.centerH {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.whiteFont {
  color: #e2e2e2;
}

#formSection {
  margin-top: 20px;
}

.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myForm {
  width: 40%;
}

#demographicSection {
  width: 100%;
  margin: 20px 0;
}

#suppliesSection {
  width: 100%;
  margin: 20px 0;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.button:active {
  color: #e2e2e2;
}

.button:focus {
  color: #e2e2e2;
}

.buttons .button {
  margin: 0.15rem 0;
}

.formButton {
  background: #222;
  color: #e2e2e2;
  width: 250px;
}

.formButton:hover {
  color: #d22;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.myFooter {
  width: 100%;
  background: #111;
}

.footerContent {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #e2e2e2;
  padding: 15px 0;
}

.footerContent a {
  color: #d22;
}

.selected {
  background: #922;
  color: #e2e2e2;
}

@media screen and (max-width: 415px) {
  #myForm {
    width: 90%;
  }
}